main {
  text-align: center;
}

table {
  border: 1px solid lightgray;
  padding: 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  padding: 4px;
}

td {
  padding: 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
